<meta charset="utf-8" />
<meta name="viewport" content="width=device-width initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

<!-- SEO and social media -->
<meta name="description" content="{{ site.description }}" />
<meta name="keywords" content="Carnegie Mellon University CMU ScottyLabs course API data classes scheduling apis" />
<!-- Facebook -->
<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
<meta property="og:description" content="{{ site.description }}" />
<meta property="og:site_name" content="ScottyLabs" />
<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/assets/img/hero.jpg" />
<meta property="og:image:secure_url" content="{{ site.url }}{{ site.baseurl }}/assets/img/hero.jpg" />
<meta property="og:type" content="article" />
<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="{{ site.url }}{{ site.baseurl }}/assets/img/hero.jpg" />
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
<meta name="twitter:description" content="{{ site.description }}" />

<!-- favicon relative to ScottyLabs/scottylabs.github.io site -->
<link rel="icon" href="/img/favicon.png">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" type="text/css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">


<link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
